

  
<section id="Contact" class="">   <!-- home-section wg-blank -->
  <div class="row ">
      <div class="section-heading col-12 col-lg-3 mb-3 mb-lg-0 d-flex flex-column align-items-center align-items-lg-start">
        <span class="section-subheading">Contact</span>
       </div>
       <div class="col-12 col-lg-8">
        <ul class="fa-ul">     
          <li>
            <i class="fa-li fas fa-envelope fa-2x" aria-hidden="true"></i> 
            <span id="person-email"><a href="mailto:y.qiao@acfr.usyd.edu.au">yongliang.qiao@adelaide.edu.au</a></span> <br>
            <span id="person-email"><a href="mailto:y.qiao@acfr.usyd.edu.au">yongliang.qiao@ieee.org</a></span>
          </li>
      <!-- <br> -->
            <li>
              <i class="fa-li fas fa-map-marker fa-2x" aria-hidden="true"></i>
              <span id="person-address">
                Australian Institute for Machine Learning (AIML) <br>The University of Adelaide.
            </span>
            </li>
        </ul>
      </div>
      </div>
</section>