<div class="row">
        <div class="col-md-5">
          <div class="section-subheading">Interests</div>
          <ul class="ul-interests mb-0">
            <li>Artificial Intelligence</li>
            <li>Machine Learning</li>
            <li>Deep Learning</li>
            <li>Smart farming</li>
            <li>Agricultural robots</li>
            <li>Multi-sensor fusion</li>
            <li>Intelligent perception</li>
          </ul>
        </div>
        
        <div class="col-md-7">
          <div class="section-subheading">Education</div>
          <ul class="ul-edu fa-ul mb-0">
            
            <li>
              <i class="fa-li fas fa-graduation-cap"></i>
              <div class="description">
                <p class="course">PhD in Computer Science</p>
                <p class="institution">University Bourgogne Franche-Comté (UBFC)</p>
              </div>
            </li>
  
            <li>
              <i class="fa-li fas fa-graduation-cap"></i>
              <div class="description">
                <p class="course">MSc in Agricultural Electrification and Automation</p>
                <p class="institution">Northwestern A&F University</p>
              </div>
            </li>
  
            <li>
              <i class="fa-li fas fa-graduation-cap"></i>
              <div class="description">
                <p class="course">BSc in Electrical Engineering and Automation</p>
                <p class="institution">Northwestern A&F University</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
  
