<ul class="nav-icons navbar-nav flex-row ml-auto d-flex pl-md-2">  
    <!-- <li class="nav-item">
      <a class="nav-link js-search" href="#" aria-label="Search"><i class="fas fa-search" aria-hidden="true"></i></a>
    </li> -->

    <li class="nav-item dropdown theme-dropdown">
      <a href="#" class="nav-link" data-toggle="dropdown" aria-haspopup="true" aria-label="Display preferences">
        <i class="fas fa-moon" aria-hidden="true"></i>
      </a>
      <div class="dropdown-menu">
        <a href="#" class="dropdown-item js-set-theme-light dropdown-item-active">
          <span>Light</span>
        </a>
        <a href="#" class="dropdown-item js-set-theme-dark">
          <span>Dark</span>
        </a>
        <a href="#" class="dropdown-item js-set-theme-auto">
          <span>Automatic</span>
        </a>
      </div>
    </li>

  </ul>