<section id="whatsnew" class="">   <!-- home-section wg-blank -->
       <div class="row ">
           <div class="section-heading col-12 col-lg-3 mb-3 mb-lg-0 d-flex flex-column align-items-center align-items-lg-start">
             <span class="section-subheading">Service</span>
            </div>
            <url>
              <h3 class="mb-0">Editorship</h3>
              <li>Collection editor for <a href="https://www.mdpi.com/journal/sensors" target="_blank" rel="noopener">Sensors</a> (IF 3.57)   </li>
              <li>Guest editor for <a href="https://www.mdpi.com/journal/agronomy" target="_blank" rel="noopener">Agronomy</a> </li>
              <li><a href="https://www.frontiersin.org/journals/genetics" target="_blank" rel="noopener">Frontiers in Genetics</a>  (IF 4.274)  </li>
              <li>Associate editor for <a href="https://www.frontiersin.org/journals/plant-science" target="_blank" rel="noopener">Frontiers in Plant Science</a>  (IF 5.75)  </li>
              <li><a href="https://www.sciencedirect.com/journal/computers-and-electronics-in-agriculture" target="_blank" rel="noopener">Computers and electronics in agriculture</a> (IF 6.757)  </li>
            </url>
           </div>

      <div class="row  ">
            <div class="section-heading col-12 col-lg-3 mb-2 mb-lg-3 d-flex flex-column align-items-center align-items-lg-start">
              <!-- <h3 class="mb-0">Conference Organisation</h3> -->
             </div>
             <url>
              <h3 class="mb-0">Conference Organisation</h3>
               <li>Chairman of <a href="https://iros2022.org/" target="_blank" rel="noopener">IROS2022 Special Session</a> </li>(Robotics in Agriculture and Livestock Farming Systems)
               <li>Chairman of <a href="https://ieee-iros.org/" target="_blank" rel="noopener">IROS2023 Special Session</a></li>(Robotics and Cybernetics for future farming)
               <li>Associate Editor for <a href="https://www.ifac2023.org/" target="_blank" rel="noopener">IFAC World Congress 2023</a> </li>
             </url>
            </div>
   </section>


