---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <!-- 中间页面的内容 -->
  <!-- class="dark" -->
  <!-- <body>  -->

    <body id="top" data-spy="scroll" data-offset="70" data-target="#navbar-main" class="page-wrapper" data-new-gr-c-s-check-loaded="14.1027.0" data-gr-ext-installed="" style="opacity: 1.00333; visibility: visible;">

      {% include browser-upgrade.html %}
    {% include masthead.html %}
<!-- 中间的内容， 更改布局寻找_page.scss， 搜索“更改” -->
    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
